cloudpickle==2.0.0
cycler==0.10.0
graphviz==0.17
gym==0.21.0
kiwisolver==1.3.2
matplotlib==3.4.3
neat-python==0.92
numpy==1.21.2
Pillow==8.3.2
pyglet==1.5.21
pyparsing==2.4.7
python-dateutil==2.8.2
six==1.16.0
